.v-toolbar__content,
.v-toolbar__extension {
    padding: 0 !important;
}

.v-application code {
    font-size: 85%;
    display: inline !important;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 1px solid #ddd;
    background: #f6f6f6 !important;
    padding: 5px 5px 2px 5px;
    border-radius: 3px;
    margin: 0 3px;
    font-weight: 500 !important;
    color: #24292e !important;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
}