.v-application code {
    font-size: 85%;
    display: inline !important;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 1px solid #ddd;
    background: #f6f6f6;
    padding: 5px 5px 2px 5px;
    border-radius: 3px;
    margin: 0 3px;
    font-weight: 500;
    color: #24292e;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.v-application code::before,
.v-application code::after {
    content: '';
}

.v-application .md img {
    text-align: center;
    width: auto;
    max-width: 100%;
    max-height: 400px;
}

.v-note-wrapper .v-note-panel .v-note-show .v-show-content, .v-note-wrapper .v-note-panel .v-note-show .v-show-content-html {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    border: 0px !important;
}

.v-note-wrapper {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    border: 0px !important;
}

.markdown-body {
    color: var(--v-accent-base) !important;
}

.markdown-body table {
    color: #24292e !important;
}

.markdown-body blockquote {
    color: var(--v-grey-base) !important;
    background-color: rgba(255, 255, 255, .12);
    padding: 16px !important;
}

.markdown-body pre code {
    color: var(--v-accent-base) !important;
}

.markdown-body p code {
    background-color: #f6f6f6;
}

.markdown-body pre {
    padding: 0 !important;
    background-color: #f8f8f8 !important;
    color: var(--v-grey-lighten1) !important;
}