.v-application .markdown-body img {
    text-align: center;
    width: auto;
    max-width: 100%;
    max-height: 400px;
}

.v-note-wrapper .v-note-panel .v-note-show .v-show-content,
.v-note-wrapper .v-note-panel .v-note-show .v-show-content-html {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    border: 0px !important;
}

.v-note-wrapper {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 !important;
    border: 0px !important;
}

.markdown-body {
    color: var(--v-accent-base) !important;
}

.markdown-body table {
    color: #24292e !important;
}

.markdown-body blockquote {
    color: var(--v-grey-base) !important;
    background-color: rgba(255, 255, 255, .12);
    padding: 12px 16px !important;
}

.markdown-body pre code {
    color: var(--v-accent-base) !important;
}

.markdown-body p code {
    background-color: #f6f6f6;
}

.markdown-body pre {
    padding: 0 !important;
    background-color: #f8f8f8 !important;
    color: var(--v-grey-lighten1) !important;
}